
body {
  /* background-color: #282c34; */
  font-family: 'Inter', sans-serif;

}

.navbar {
  height: 70px;
  background-color: #A85CF9;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

main {
  margin-top: 100px;
  padding: 50px 0px;

}
.form--container {
  display: flex;
  text-align: center;
  justify-content: center;
}
.main--container {
  padding: 20px 0px;
  margin: auto;
  margin-top: 150px;
  width: 500px;
  border: 1px solid steelblue;
  border-radius: 10px;
}
.form-control{
  width: 350px;
  padding: 14px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1.5px solid black;
}

.form-control input {
  font-size: 20px;
}
.btn {
  padding: 16px;
  border-top-right-radius: 30px;
 border-bottom-right-radius: 30px;
 background-color: #5534A5;
 border: 0px;
 color: #fff;
}

.btn:active {
  transform: scale(0.98)
}

input:focus{
  outline: none;
}


.todo {
  background: #f4f4f4;
  width: 400px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px auto;
}
.todo h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
}

.todo.reminder {
  border-left: 5px solid green;
}
